{:paths ["src" "test" "resources" "dev"]
 :deps {metosin/reitit {:mvn/version "0.7.1"}
        ring/ring-jetty-adapter {:mvn/version "1.7.1"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        integrant/integrant {:mvn/version "0.10.0"}
        clojure_data_csv/clojure_data_csv {:mvn/version "0.1.0-SNAPSHOT"}
        seancorfield/next.jdbc {:mvn/version "1.2.659"}
        org.xerial/sqlite-jdbc {:mvn/version "3.49.1.0"}
        com.layerware/hugsql {:mvn/version "0.5.3"}
        integrant/repl {:mvn/version "0.4.0"}
        aero/aero {:mvn/version "1.1.6"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        org.slf4j/slf4j-api {:mvn/version "2.0.9"}
        metosin/malli {:mvn/version "0.17.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.14"}
        cheshire/cheshire {:mvn/version "5.13.0"}}
 :aliases {:dev {:main-opts ["-e" "(require, 'dev)" "-e" "(in-ns 'dev)"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
