{:path ["src" "test" "resources"]
 :deps {metosin/reitit {:mvn/version "0.7.1"}
        ring/ring-jetty-adapter {:mvn/version "1.7.1"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        integrant/integrant {:mvn/version "0.10.0"}
        clojure_data_csv/clojure_data_csv {:mvn/version "0.1.0-SNAPSHOT"}
        seancorfield/next.jdbc {:mvn/version "1.2.659"}
        sqlitejdbc/sqlitejdbc {:mvn/version "0.5.6"}
        com.layerware/hugsql {:mvn/version "0.5.3"}}}
