{"Attack Of The Clones" "AOTC"
 "Sith Rising" "SR"
 "A New Hope" "ANH"
 "Battle Of Yavin" "BOY"
 "Jedi Guardians" "JG"
 "Empire Strikes Back" "ESB"
 "Rogues And Scoundrels" "RAS"
 "Phantom Menace" "PM"
 "Return Of The Jedi" "ROTJ"
 "Revenge Of The Sith" "ROTS"
 "Fall of the Republic" "FOTR"
 "Scum And Villainy" "SAV"
 "Battle of Endor" "BOE"
 "Republic at War" "RAW"
 "Invasion of Naboo" "ION"
 "Battle Of Hoth" "BOH"
 "Bounty Hunters" "BH"
 "Mandalorians" "MAND"
 "Sith" "SITH"
 "Jedi" "JEDI"
 "Smugglers" "SMUG"
 "Rule of Two" "RO2"
 "Old Republic" "TOR"
 "Separatist Offensive" "CWSO"
 "Rogue Squadron" "RS"
 "Empire Rising" "ER"
 "Empire Eternal" "EE"
 "Clone Wars A Galaxy Divided" "AGD"
 "The Dark Times" "TDT"
 "The Force Awakens" "TFA"
 "Clones and Droids" "CAD"
 "10TH Anniversary" "TEN"
 "Vector Prime" "VP"
 "Tales and Legends" "TAL"
 "Star by Star" "SBS"
 "Days and Nights" "DAN"
 "Clone Wars: Battle Lines" "BL"
 "Rogue One" "RO"
 "Battle of Starkiller Base" "BOSB"
 "The Last Jedi" "TLJ"
 "Spark of Rebellion" "SOR"
 "Battlefront" "BF"
 "Jedi Knight" "JK"
 "The Unifying Force" "TUF"
 "Battle of Crait" "BOC"
 "Solo" "SOLO"
 "Starter Cards" "START"
 "Knights and Exiles" "KAE"
 "Promotional Cards" "PROMO"
 "The Mandalorian" "TM"
 "The Rise of Skywalker" "TROS"
 "IDC 15th Anniversary" "15TH"
 "Apprentices and Assassins" "AAA"
 "Fires of Rebellion" "FOR"
 "Battle of the Sarlacc" "BOTS"
 "The Mandalorian Way" "TMW"
 "The Old Republic Misc" "TORMisc"
 "Book of Boba Fett" "BOBF"
 "Battle of Exegol" "BAE"
 "Worst Among Equals" "WAE"
 "A Long Time Ago" "ALTA"
 "Make A Mando" "MAM"}
